<%include ./header%>
            <script type="text/javascript" src=js/addFormField.js></script>
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Création de votre CV
                        </h1>
                        <form method="post">
                        <p>
                       	<label>Téléphone</label>
                        <input type="nubmer" class="form-control" name="phone" placeholder="02123456" required>
                        </p>
                        <p>
                        <label>Adresse</label>
                        <input type="text" class="form-control" name="address" required>
                        </p>
                        <label>Date de naissance</label>
                        <input type="date" class="form-control" name="birth" placeholder="01/01/2000" required>
                        </p>
                        <p>
                        <label>Formations</label>
                        <div id=allForm class="form-group input-group">
                            <p>
                            <label>Durée</label></br>
                            <input type="date" class="form-control" name="ftime" placeholder="01/02/2000 - 01/02/2001">
                            </p>
                            <p>
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="form"></textarea>
                            </p>
                        </div>
                        </p>
                        <p>
                        <img src="images/plus.png" onclick = 'addFieldF("allForm")'>
                        <p>
                        <p>
                        <label>Expérience professionnelle</label>
                        <div id=allExp class="form-group input-group">
                            <p>
                            <label>Durée</label></br>
                            <input type="date" class="form-control" name="etime" placeholder="01/02/2000 - 01/02/2001">
                            </p>
                            <p>
                            <label>Description</label>
                            <textarea type="text" class="form-control" name="exp"></textarea>
                            </p>
                            <p>
                            <label>Remarque</label></br>
                            <input type="text" class="form-control" name="erem">
                            </p>
                        </div>
                        </p>
                        <p>
                        <img src="images/plus.png" onclick = 'addFieldE("allExp")'>
                        <p>
                        <button type="submit" class="btn btn-default">Valider</button>
                        </p>
                        </form>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
